/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.card-container a{
  margin-left: 10px;
}
.card-container{
  margin-bottom: 20px;
}
.card-form{
  font-size: larger;
  font-weight: bold;
  font-family: fantasy;
  color: blue;
}
